body {
    min-height: 100vh;
    font-family: 'Roboto', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 150px;
}

.header h1 {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    list-style: none;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 16px;
}

.container {
    margin: 100px 150px;
    margin-top: 50px;
    display: flex;
    gap: 50px;
}

.signup {
    flex: 1 0;
    padding: 0;
}

.signup h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.signup p {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 18px;
    margin: 0;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    font-weight: 18px;
    border-radius: 5px;
    border: none;
    padding: 8px 24px;
    margin-top: 8px;
}

.img-placeholder {
    background-color: #e5e7eb60;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0;
    color: #e5e7eb;
}

.info {
    padding: 24px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    flex: 1 0 auto;
}

.cards {
    display: flex;
    font-size: 18px;
    font-weight: normal;
    justify-content: space-between;
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
}

.card-subtext {
    text-align: center;
}

.img {
    border: #3882f6;
    border-style: solid;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    justify-self: center;
}

.quote-div {
    background-color: #e5e7eb;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 250px;
    flex: 1 0 auto;
}

.quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    margin: 0;
}

.author {
    font-size: 18px;
    font-weight: bold;
    text-align: end;
    margin: 0;
}

.call {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 72px;
    flex: 1 0 auto;
}

.blue-box {
    background: #3882f6;
    border-radius: 10px;
    padding: 36px 100px;
    min-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call-to-action h2 {
    color: #F9FAF8;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.call-to-action p {
    color: #e5e7eb;
    font-size: 18px;
    margin: 0;
}

.blue-box button {
    border: #e5e7eb;
    border-style: solid;
    border-width: 2px;
}

.footer {
    background-color: #1F2937;
    justify-self: flex-end;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    flex-shrink: 0;
}